.wrap {
    min-height: 100vh;
}
.item {
    display: inline-block;
    width: 100%;
}
.input {
    width: 100%;
}
.row {
    flex-direction: row;
}
.column {
    flex-direction: column;
}
.fill {
    display: flex;
    flex: 1 0 auto;
}